<tr>
    <th class="col-md-1">DR/CR</th>
    <th class="col-md-3">Account Description</th>
    <th class="col-md-2"> Item Type</th>
    <th class = 'new-field col-md-2 jrnl-source-field' >
                Journal Source
             </th>
    <th class = 'new-field col-md-2 defaults-from-field' style = 'display: none;'> Defaults from</th>
    <th class = 'new-field col-md-2 jrnl-category-field' style = 'display: none;'>
                Journal Category
             </th>
    <th class = 'new-field col-md-2 accting-class-field' style = 'display: none;'>
                Accting Class
             </th>
    <th class = 'new-field col-md-1 jrnl-amount-field' style = 'display: none;'>Amount</th>
   <!-- Disabling More buttons; to be added later on-->
   <!-- <th class="col-md-1"> More</th> -->
</tr>