{% extends 'base.html' %}

{% load staticfiles %}
    {% block title %} P2P Accounting {% endblock %}

    {% block upper_side_block %}
        <div>
         <form id = 'form_filter' class="form-horizontal" method="post" action="/p2p_accounting/?">
            {% csrf_token %}
                <p>
                    {{ form.item_type.errors }}
                    {{ form.item_type.label_tag }}
                        <a id = 'item-type-btn' class = 'pull-right'> <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                        </a>
                    {{ form.item_type }}
                </p>

                <p>
                    {{ form.period_end_accrual.errors }}
                    {{ form.period_end_accrual.label_tag }}
                        <a id = 'pe-accrual-btn' class = 'pull-right'> <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                        </a>
                    {{ form.period_end_accrual }}
                </p>

                <p>
                    {{ form.allow_recon_accounting.errors }}
                    {{ form.allow_recon_accounting.label_tag }}
                        <a id = 'allow-recon-accting-btn' class = 'pull-right'> <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                        </a>
                    {{ form.allow_recon_accounting }}
                </p>
           <!-- Disabled <div id = 'error_message'> </div> -->
            <input type="submit" class =' btn btn-primary' name="submit" value="Submit" />
            <p> </p>

        </form>
        </div>
    {% endblock %}


{% block body_block %}
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">'Inventory Item' Type</h4>
              </div>
              <div class="modal-body">
                For an Inventory Item, we cannot enable "Period-end Accrual".
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Got It !</button>
              </div>
            </div>
          </div>
        </div>
             <ul class="nav nav-tabs">
                  <li role="presentation" class="active">
                            <h1 style="font-size:22px; padding: 10px 0px 5px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
                            font-weight: 500; margin: 0px 0px;"> Procure to Pay (P2P) Accounting </h1>
                  </li>
                  <li role="presentation" class = 'pull-right'><a id = 'add-field' href="#">Additional Fields</a></li>
            </ul>
            <!-- Additional fields block; Not displayed by default-->
            <div class="form-inline style" id = 'add-field-form' style= 'margin: 2px 2px; display: none;'  >
                        <label class="checkbox-inline">
                          <input type="checkbox" id="journal-source" value="option1" checked="checked"> Journal Source
                        </label>
                        <label class="checkbox-inline">
                          <input type="checkbox" id="defaults-from" value="option2"> Defaults from
                        </label>
                        <label class="checkbox-inline">
                          <input type="checkbox" id="accting-class" value="option3"> Accounting Class
                        </label>
                        <input type="submit" id = 'add-field-form-btn'  class =' btn btn-success' name="submit" value="Add/Remove" />
            </div>
    <div id = 'options'>

    </div>

    <div id = 'main-container'>

        <div id = 'accounting_enty'>
            <div id = 'header'> </div>
            <div id = 'entry'>
                <div class="panel panel-primary">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">PO Receipt</h3>
                        </div>
                        <table class="table table-bordered table-hover">
                            {% if po_receipt_accting%}
                                {% include "p2p/p2p_accting_header.html"%}

                                {% for entry in po_receipt_accting %}
                                    {% include "p2p/p2p_accting_entry.html"%}
                                {% endfor %}
                            {%else%}
                                {% include "no_accounting.html" %}
                            {%endif%}
                        </table>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">PO Deliver</h3>
                        </div>
                        <table class="table table-bordered table-hover">
                            {% if po_receipt_accting%}
                                {% include "p2p/p2p_accting_header.html"%}
                                {% for entry in po_deliver_accting %}
                                    {% include "p2p/p2p_accting_entry.html"%}
                                {% endfor %}
                            {%else%}
                                {% include "no_accounting.html" %}
                            {%endif%}
                        </table>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">AP Invoice <small> When matched with PO/Receipt</small></h3>
                        </div>
                        <table class="table table-bordered table-hover">
                            {% include "p2p/p2p_accting_header.html"%}
                            {% for entry in ap_invoice_accting %}
                                     {% include "p2p/p2p_accting_entry.html"%}
                            {% endfor %}
                        </table>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">AP Payment</h3>
                        </div>
                        <table class="table table-bordered table-hover">
                            {% include "p2p/p2p_accting_header.html"%}
                                        {% for entry in ap_payment_accting %}
                                                                                                {% include "p2p/p2p_accting_entry.html"%}
                            {% endfor %}
                        </table>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">AP Payment Reconciliation</h3>
                        </div>
                        <table class="table table-bordered table-hover">
                            {% if ap_payment_recon_accting%}
                                {% include "p2p/p2p_accting_header.html"%}
                                        {% for entry in ap_payment_recon_accting %}
                                                                    {% include "p2p/p2p_accting_entry.html"%}
                                        {% endfor %}
                            {%else%}
                                {% include "no_accounting.html" %}
                            {%endif%}
                        </table>
                    </div>


                    <!-- Period End Accrual -->
                    <div> {% if po_pe_accrual_accting %}
                    <hr>
                    <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">PO Receipt Accruals - Period End <small> For Uninvoiced Receipts</small></h3>
                            </div>
                            <table class="table table-bordered table-hover">
                                    {% include "p2p/p2p_accting_header.html"%}
                                            {% for entry in po_pe_accrual_accting %}
                                                                        {% include "p2p/p2p_accting_entry.html"%}
                                            {% endfor %}

                            </table>
                        </div>
                        <p class="text-muted" style="padding-left:8px;"> As soon as the next period is opened, <strong> Purchasing</strong> reverses the above accrual entry.</p>
                        {%endif%}
                    </div> <!-- Period End Accrual Accounting Entry-->
                </div>
                </div>
             </div>
        </div>  <!-- id =accounting_entry-->
    </div>
    <!-- Include BS Model -->
     {% include "p2p/acct_derivation.html"%}
     {% include 'p2p/screen_shots.html'%}
{% endblock %}
