<!-- 'Item Type' Screenshot Modal -->

<!-- 'Period End Accrual' Screenshot Modal -->
<div class="modal fade" id="period-end-accrual-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Period End Accrual @
                  <strong> Purchasing Options </strong> </h4>
      </div>
      <div class="modal-body">
        <img src="/static/images/period_end_accrual.jpg" width = '870' class ='center-block'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- 'Accounting - When Payment Clears' Screenshot Modal -->
<div class="modal fade" id="when-pymt-clrs-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Payment Accounting - When Payment Clears @
                    <strong>Payables Options <strong> </h4>
      </div>
      <div class="modal-body">
        <img src="/static/images/accounting_when_payment_clears.jpg" class ='center-block'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
